.home__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}


.home__section-1 {
  padding: 0;
  margin: 0;
  min-height: 96vh;
  width: 100%;
  background: url("../assets/images/home/home.jpg") no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
}

.prefix__section {
  min-height: 96vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1__filler {
  background: white;
  align-items: flex-end;

  h1 {
    color: #A2A2A2;
  }
}

.section-2__filler {
  align-items: flex-start;

  h1 {
    padding-left: 3px;
    color: white;
  }
}

.section-1__filler, .section-2__filler {
  min-height: 96vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro__text__wrapper {
  margin-bottom: -40%;
  z-index: 900;

  h1 {
    letter-spacing: 0.5em;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
  }
}

.button__home {
  padding: 10px 50px;
  border-radius: 5px;
  transition: 0.1s;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  background: linear-gradient(to bottom, #10dc87 0%, #08ba4d 100%);
  color: #fff;
  border: 1px solid #08BA4D;

  font-weight: 400 !important;

  &:hover {
    opacity: 0.8;
    color: #fff;
  }
}

.delay__animation {
  animation-delay: 0.2s;
  animation-duration: 1s;
}


.intro__img {
  z-index: 99999;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -6px;
  right: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  max-width: 1093px;
  max-height: 316px;
}

.mobile__intro {
  display: none;
}

.section-1__intro {
  background: url("../assets/images/home/home_intro.svg") no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
  min-height: 96vh;
}


.home__section-2, .home__section-4 {
  background: #F4FCFF;
}

.section-2__content {
  border-radius: 10px;
  background: white;
  max-width: 1065px;
  width: 100%;
  max-height: 650px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .section-2__row-1, .section-2__row-2 {
    margin: 100px 60px;
  }

  .main-title {
    color: #303336;
    font-weight: 700;
  }
}

.section-2__row-1 {
  max-width: 435px;
  width: 100%;
  text-align: left;

  .main-title {
    margin-bottom: 16px;
  }

  .button {
    margin-left: 0;
  }
}

.section-2__image {
  margin: 100px 0;
}

.home__section-3 {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-3__content {
  max-width: 1146px;
  width: 100%;
  margin: 160px 0;

  .main-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 112px;
    color: #303336;
  }

  .sub-title {
    margin: 0;
    padding: 0;
  }
}

.section-3__image {
  max-width: 1146px;
  max-height: 577px;
  width: 100%;
  height: 100%;
}

.section-4__content {
  border-radius: 10px;
  padding: 41px 0 28px 0;
  max-width: 1067px;
  width: 100%;
  max-height: 745px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .main-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
  }
}

.section-4__projects {
  margin: 0 10px;
}

.project__images-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
}

.project__image {
  width: 100%;
  height: 100%;
}

.project__sides {
  max-width: 225px;
  max-height: 243px;
}

.project__main {
  max-width: 560px;
  max-height: 335px;
}

.project__text {
  max-width: 433px;
  width: 100%;
  margin: 0 auto;
}

.home__section-5 {
  min-height: 650px;
}

.section-5__content {
  max-width: 1040px;
  width: 100%;

  .main-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #303336;
  }

  .button {
    padding-left: 130px;
    padding-right: 130px;
    font-size: 22px;
  }
}

.section-5__images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.section-5__image {
  width: 100%;
  height: 100%;

  &:first-child {
    max-width: 370px;
    max-height: 97px;
  }

  &:nth-child(2) {
    max-width: 171px;
    max-height: 132px;
  }

  &:nth-child(3) {
    max-width: 205px;
    max-height: 127px;
  }

  &:nth-child(4) {
    max-width: 194px;
    max-height: 194px;
  }
}


@media (max-width: 1180px) {
  .intro__text__wrapper {
    h1 {
      letter-spacing: 0.2em;
    }
  }

  .intro__img {
    width: 80%;
    height: 80%;
  }

  .section-3__image {
    width: 80%;
    height: 80%;
  }

  .section-2__content {
    width: 80%;

    .section-2__row-1, .section-2__row-2 {
      margin: 60px 50px;
    }
  }

  .section-4__content {
    width: 80%;
  }

  .project__sides {
    max-width: 165px;
    max-height: 193px;
  }

  .project__main {
    max-width: 460px;
    max-height: 275px;
  }

  .section-5__content {
    max-width: 1040px;
    width: 80%;

    .button__home {
      font-size: 18px;
    }
  }

  .section-5__image {
    width: 15%;
    height: 15%;
  }

}

@media (max-width: 1035px) {
  .project__sides {
    display: none;
  }

  .section-2__content {
    flex-direction: column;
    max-height: unset;
  }

  .section-2__content, .section-2__row-1, .section-5__content {
    max-width: unset;
    width: 80%;
  }

  .section-2__image {
    margin: unset;
    max-width: 500px;
    max-height: 500px;
  }

  .section-3__image {
    width: 70%;
    height: 70%;
  }

  .home__section-3 {
    min-height: 40vh;
  }

  .section-3__content {
    margin: 50px 0;
    width: 80%;
  }
}

@media (max-width: 960px) {
  .home__section-1, .section-1__filler, .section-2__filler {
    //min-height: 600px;
    height: 100%;
  }

  .desktop__intro {
    display: none;
  }

  .mobile__intro {
    margin-bottom: -60px;
    display: flex;
    flex-direction: column;

    h1 {
      letter-spacing: 0.3em;
    }
  }

  .mobile__intro-1 {
    text-align: right;
  }

  .mobile__intro-2 {
    text-align: left;
  }
}

@media (max-width: 818px) {
  .section-5__content {
    max-width: 1040px;
    width: 80%;

    .button__home {
      padding-left: 5px;
      padding-right: 5px;
    }
  }

  .mobile__intro {
    h1 {
      margin: 0;
      padding: 0;
      font-size: 20px;
      letter-spacing: 0.4em;

      &:nth-child(2) {
        margin-top: -20px;
      }
    }

    .section-2__content, .section-2__row-1, .section-5__content,
    .section-4__content {
      max-width: unset;
      width: 90%;
    }

    .intro__img {
      left: -3px;
    }
  }
}

@media (max-width: 670px) {
  .home__section-1, .section-1__filler, .section-2__filler {
    min-height: 550px;
    height: 100%;
  }

  .section-2__content, .section-2__row-1, .section-5__content,
  .section-4__content, .section-3__content {
    max-width: unset;
    width: 90%;
  }

  .section-2__image {
    width: 80%;
    height: 80%;
  }

  .section-5__images {
    flex-direction: column;
  }

  .section-5__image {
    margin: 40px;
    width: 100%;
  }

  .section-3__image {
    width: 90%;
    height: 90%;
  }

  .intro__img {
    width: 95%;
    height: 95%;
  }

  .home__section-5 {
    min-height: unset;
    height: 100%;
  }
}


@media (max-width: 550px) {

  .section-2__row-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobile__intro {
    h1 {
      font-size: 18px;
      letter-spacing: 0.4em;
    }
  }

  .section-5__content {
    width: 80%;

    .button__home {
      font-size: 14px;
    }
  }
}

@media (max-width: 470px) {
  .intro__img {
    bottom: 200px;
  }

  .mobile__intro {
    h1 {
      font-size: 18px;
      letter-spacing: 0.2em;
    }
  }

  .mobile__intro {
    margin-bottom: 100px;
  }
}

@media (max-width: 380px) {

  .mobile__intro {
    h1 {
      font-size: 14px;
      letter-spacing: 0.2em;
    }
  }

  .section-5__content {
    width: 80%;

    .button__home {
      font-size: 3vw;
    }
  }
}









