$main-color: #08BA4D;
$secondary-color: #10DC87;
$main-gradient: linear-gradient(to bottom, #10dc87 0%, #08ba4d 100%);
$text-color: #2F2F2F;

/* ------- Main things ------- */

h1, h2, h3, p, a, label, input, ::placeholder {
  font-family: 'Poppins', sans-serif !important;
  margin: 0;
  padding: 0;
}

h1 {
  color: #606468;
  font-weight: 600;
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
}

.subheading {
  color: $main-color;
  font-size: 18px;
}

p, a, input, ::placeholder {
  font-size: 16px !important;
}

p, label, input {
  color: $text-color;
}

p {
  margin: 0;
  padding: 0;
}

label {
  font-size: 14px;
}

input {
  display: block;
  margin-top: 4px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #BCBCBC;
  padding: 13px;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border: 1px solid $main-color;
  }
}

::placeholder {
  color: #959595;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

.link {
  color: $main-color;
  padding: 0 !important;
  margin: 0 !important;

  &:hover {
    color: $main-color;
    text-decoration: underline;
  }
}