/* ------- Main things ------- */
@import 'variables';

/*----------Config--------*/
h1, h2, h3, p, a, label, input, ::placeholder {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #606468;
  font-weight: 600;
  margin: 0;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 20px;
}

p, a, input, ::placeholder {
  font-size: 16px;
}

p, label, input {
  color: $text-color;
}

p {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 700;
  color: $text-color;
  text-transform: inherit !important;
  margin: 0px 5px;
}

label {
  font-size: 14px;
}

input {
  display: block;
  margin-top: 4px;
  margin-bottom: 15px;
  border-radius: 3px;
  border: 1px solid #BCBCBC;
  padding: 13px;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    outline: none;
    border: 1px solid $main-color;
  }
}

.uk-container-width {
  max-width: 1090px;
  width: 100%;
  padding: 50px 0;
}

::placeholder {
  color: #959595;
}

a {
  &:hover {
    text-decoration: none !important;
  }
}

.link {
  color: $secondary-color;
  padding: 0;
  margin: 0 !important;
  font-weight: 400;

  &:hover {
    color: $main-color;
    text-decoration: underline;
  }
}

.subheading {
  color: $main-color;
  font-size: 18px;
}

.sub-title {
  color: $main-color;
  font-size: 22px;
}

.main-title {
  font-size: 26px;
  color:#606468;
  font-weight: 400;
}

.main-text {
  color:#2F2F2F;
  font-size: 14px;
  font-family: Open Sans, sans-serif !important;
}

.button {
  color: #fff !important;
}

.button, .button-secondary {
  padding: 10px 25px!important;
  text-align: center;
  border-radius: 5px;
  transition: 0.1s;
}

.button {
  padding: 12px 25px!important;
  background: $main-gradient;
  color: #fff!important;
  font-weight: 400!important;
  &:hover {
    opacity: 0.8;
  }
}

.button-secondary {
  border: 2px solid #9F9F9F;
  color: #9F9F9F;
  background-color: none;

  &:hover {
    background-color: #9F9F9F;
    color: white;
  }
}
